<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-12 col-lg-12 ml-sm-auto pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2>Email sélectionné</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Marquer comme non-lu</button>
            <button class="btn btn-sm btn-outline-danger">Suprimer</button>
          </div>
        </div>
      </div>
      <h4><%= @email.object %></h4>
      <p><%= @email.body %></p>

    </main>
  </div>
</div>